

  <div class="products">
    <h1>Name: {{dB.name}}</h1>
    <h2>Price: {{dB.price}}</h2>
    <h3>Inventory: {{dB.inventory}}</h3>
    <h3>ID: {{dB.id}}</h3>
    <form action="/products/{{dB.id}}?_method=DELETE" method="POST" >
    <button type="submit">Delete</button>
    </form>
  </div>

